ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
}

ul li a {
  /* height: 20rem;
  width: 20rem; */
  border: 1px solid #ffffff;
  border-radius: 1rem;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  color: green;
}

li a:hover {
  opacity: 0.9;
  cursor: pointer;
}

img {
  width: 15em;
  height: 10em;
}

.content {
  padding: 0.4rem 1rem;
  position: relative;
}

.favorite {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1rem;
}

.favorite.not {
  color: black;
}

.star {
  margin-bottom: 0.3rem;
}

.product-item-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.origins {
  flex: 9;
}

.origins span {
  border-radius: 2rem;
  background-color: whitesmoke;
  color: grey;
  font-size: 0.8rem;
  margin-right: 0.3rem;
  display: inline-block;
}

.cook-time {
  font-size: 0.8rem;
  flex: 3;
  text-align: center;
}

.price {
  color: grey;
  margin-top: 0.2rem;
}
